button {
    color: rgb(234, 162, 88);
    font-size: 15px;
    border-width: 2px;
    border-color: rgb(234, 162, 88);
    border-style: solid;
    width: 260px;
    height: 66px;
}

h1 {
    font-size: 42px;
}

h1, .big::first-letter {
    font-family: "Playfair Display", serif;
}

h1, p, .big::first-letter {
    color: rgb(23, 23, 23);
}

p {
    opacity: 0.8;
    font-family: "Myriad Pro", sans-serif;
    font-size: 18px;
    line-height: 1.889;
}

span {
    font-size: 50px;
}

.big::first-letter {
    font-size: 110px;
    float: left;
    margin: -55px 25px -30px 0;
}

.general {
    width: 1200px;
    height: 500px;
    margin: 100px auto;
}

.ital {
    font-size: 30px;
}